<div class="landing-body">
        <div class="landing-wrapper">
          <div id="header">
              <vn-nav></vn-nav>
              <div class="header-content clearfix">
                <br><br>
                  <h1 class="head" style="margin-top: 0px;">Online booking and scheduling for your venues</h1>
                  <p style="color:#fff">VENU is a system for managing the bookings and reservations for your</p>
                  <p style="color:#fff">room, space, studios, courts ang more.</p>
                  <a [routerLink]="['/register']" class="ui-button primary">
                      <span class="ui-button-text">Register now!</span>
                  </a>
                  <br>
                  <br>
              </div>
          </div>
          
          <div id="features">
              <h2 style="margin-top: 0px;">VENU has been designed with your venue in mind...</h2>
          
              <div class="ui-g">
                  <div class="ui-g-12 ui-md-4">
                      <h3>Celebrations</h3>
                      <p>birthdays, weddings, etc.</p>
                      <img src="assets/homeimg/studio.png" alt="meeting room">
                  </div>
                  <div class="ui-g-12 ui-md-4">
                      <h3>Meeting places</h3>
                      <p>Corporate meetings, Family Reunion, etc.</p>
                      <img src="assets/homeimg/meeting-room.png" alt="meeting room">
                  </div>
                  <div class="ui-g-12 ui-md-4">
                      <h3>Sports Venues</h3>
                      <p>Basketball courts, Tennis, Badminton courts</p>
                      <img src="assets/homeimg/sport.png" alt="meeting room">
                  </div>
                  
                  <div class="ui-g-12 ui-md-4">
                      <h3>Laboratories and Learning</h3>
                      <p>Classrooms, Computer lab, etc.</p>
                      <img src="assets/homeimg/education.png" alt="meeting room">
                  </div>
                  <div class="ui-g-12 ui-md-4">
                      <h3>Community Facility</h3>
                      <p>Public Stages, Courts, etc.</p>
                      <img src="assets/homeimg/community.png" alt="meeting room">
                  </div>
                  <div class="ui-g-12 ui-md-4">
                      <h3>Coworking spaces</h3>
                      <p>a place for your works and hobbies.</p>
                      <img src="assets/homeimg/coworking.png" alt="meeting room">
                  </div>
              </div>
        
          
          <br><br><br>
         
         <vn-footer></vn-footer>
      </div>
</div>