<div class="header-top clearfix">
    <span class="logo"></span>
    
    <a id="menu-button" href="#">
        <i class="material-icons">menu</i>
    </a>
    <ul id="menu" class="animated">
        <li><a href="#"><i class="ui-icon ui-icon-home"></i><span>Home</span></a></li>
        <li><a href="#features"><i class="ui-icon ui-icon-list"></i><span>Features</span></a></li>
        <li><a [routerLink]="['/login']"><i class="ui-icon ui-icon-videocam"></i><span>Login</span></a></li>
        <li><a [routerLink]="['/register']"><i class="ui-icon ui-icon-videocam"></i><span>Register</span></a></li>
    </ul>
</div>